
.edit-input {
    margin-top: 1rem;
    padding: 5px;
    font-size: 1.1rem;
    width: 200px;
}


.edit-form {
    width: 100%;
    font-size: 1.1rem;
    font-weight: bold;
    border-color: #00bc77;
    color: #fff;


    input:first-child {
        margin-right: 1rem;
    }
}

.button-form {
    width: 100%;
    font-size: 1.1rem;
    font-weight: bold;
    border-color: #00bc77;
    color: #fff;

    button {
        margin-left: 1rem;

        &:hover {
            cursor: pointer;
        }
    }
}

